<?xml version="1.0"?>
<launch>
  <include file="$(find raspimouse_ros_2)/launch/raspimouse.launch" />
  <include file="$(find jetson_nano_csi_cam)/launch/jetson_csi_cam.launch" />
  <node pkg="jnmouse_ros_examples" name="line_following" type="line_following.py" required="true" output="screen" />
</launch>
