<?xml version="1.0"?>
<launch>
  <!-- robot control node -->
  <include file="$(find jnmouse_ros_examples)/launch/jnmouse.launch" />

  <!-- teleop node -->
  <arg name="speed" default="0.06" />
  <arg name="turn" default="0.6" />
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" args="_speed:=$(arg speed) _turn:=$(arg turn)" output="screen" />

  <!-- camera node -->
  <!-- Command Line Arguments -->
  <arg name="cam_name_prefix" default="csi_cam_" /> <!-- The name of the camera (corrsponding to the camera info) -->
  <arg name="sync_sink" default="true" />           <!-- Synchronize the app sink. Setting this to false may resolve problems with sub-par framerates. -->
  <arg name="width" default="640" />                <!-- Image Width -->
  <arg name="height" default="480" />               <!-- Image Height -->
  <arg name="fps" default="30" />                   <!-- Desired framerate. True framerate may not reach this if set too high. -->
  <arg name="flip_method" default="0" />            <!-- Desired framerate. True framerate may not reach this if set too high. -->

  <include file="$(find jetson_nano_csi_cam)/launch/jetson_csi_cam.launch">
    <arg name="sensor_id" value="0" />
    <arg name="cam_name" value="$(arg cam_name_prefix)0" />
    <arg name="frame_id" value="$(arg cam_name_prefix)0_link" />
    <arg name="sync_sink" value="$(arg sync_sink)" />
    <arg name="width" value="$(arg width)" />
    <arg name="height" value="$(arg height)" />
    <arg name="fps" value="$(arg fps)" />
    <arg name="flip_method" value="$(arg flip_method)" />
  </include>
  <include file="$(find jetson_nano_csi_cam)/launch/jetson_csi_cam.launch">
    <arg name="sensor_id" value="1" />
    <arg name="cam_name" value="$(arg cam_name_prefix)1" />
    <arg name="frame_id" value="$(arg cam_name_prefix)1_link" />
    <arg name="sync_sink" value="$(arg sync_sink)" />
    <arg name="width" value="$(arg width)" />
    <arg name="height" value="$(arg height)" />
    <arg name="fps" value="$(arg fps)" />
    <arg name="flip_method" value="$(arg flip_method)" />
  </include>

  <!-- Robot model -->
  <arg name="model" default="$(find jnmouse_description)/urdf/jnmouse.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- TF -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_cam0" args="0 0 0 3.1415 0 0 left_camera_link $(arg cam_name_prefix)0_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_cam1" args="0 0 0 3.1415 0 0 right_camera_link $(arg cam_name_prefix)1_link" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_vslam_map" args="0.064 0.028 0.081 0 0.349 0 map vslam_map" />
</launch>
